$light-gray: #ccc;
$dark-gray: #555;

// $theme-dark: #007d00;
// $theme-med: #51b514;
// $theme-light: #90e152;

$theme-500: #7edc26;
$theme-700: #55b60e;
$theme-900: #007f00;
$theme-300: #aae874;
$theme-100: #dcf5c5;