@mixin container {
    background: #ffffffdc;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    box-shadow: 0px 0px 4px #00000055;

    &:hover {
        background: #fff;
    }
    transition: all 0.3s ease;
}

@mixin container-min {
    background: none;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@mixin graph-header {
    margin-block: 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $theme-900;
    text-align: left !important;
    line-height: 1.8rem !important;
    &:first-letter {
        text-transform: uppercase;
    }
    border-bottom: solid 3px $theme-900;
    //border-top: solid 4px $theme-900;
    padding: 4px;
    padding-left: 0px;
    //border-radius: 4px;
}